<launch>
	<node name="Sensor_Node" pkg="sensors" type="sensorController.py"/>
	<node name="localization" pkg="positioning" type="localization.py"/>
	<node name="rq_calculation" pkg="roadquality" type="runProcess.py"/>
	<node name="cloud_communication" pkg="cloud" type="putdata.py"/>
	<node name="heartbeat_tx" pkg="positioning" type="hbGenerator.py"/>
	<node name="heartbeat" pkg="cloud" type="heartbeat.py"/>
</launch>
