<launch>
	<node name="sensor_io" pkg="hardware" type="hardwareController.py" output="screen"/>
	<node name="Sensor_Node" pkg="sensors" type="sensorController.py" output="screen"/>
	<node name="localization" pkg="positioning" type="localization.py" output="screen"/>
	<node name="rq_calculation" pkg="roadquality" type="runProcess.py" output="screen"/>
	<node name="roadquality_listener" pkg="roadquality" type="listener.py" output="screen"/>
</launch>
